@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dotted {
  background-image: radial-gradient(#d1d5db 8%, white 0);
  background-size: 35px 35px;
}

/* .slideup {
  animation: slideup 0.5s forwards 1s;
}

@keyframes slideup {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: -10rem;
  }
} */

.cta {
  background-color: white;
  color: black;
  overflow: hidden;
  backdrop-filter: opacity(
    1
  ); /* fix Chrome bug with backdrop blur on nav element */
  /* top: 0px;
  transition: top 0.1s; */
}

.cta:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  background: radial-gradient(circle, white 25%, black 25%, black 100%);
  transform: scale(0);
  transition: transform 0.3s;
}

.cta.active:after {
  transform: scale(4.5);
}

.cursor-halo {
  background: white;
  mix-blend-mode: difference;
  width: 92px;
  height: 92px;
  z-index: 20;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.cursor-halo.halo-md {
  transform: scale(1);
}

.slide-up-block {
  position: relative;
  margin-bottom: -200px;
}

.slide-up-block-hide {
  opacity: 0;
}

.slide-up-block-animate {
  top: 0;
  animation: slideupblock 1s forwards;
}

@keyframes slideupblock {
  0% {
    top: 0;
    opacity: 0;
  }

  100% {
    top: -200px;
    opacity: 1;
  }
}

.fade-out-image {
  animation: fadeoutimage 1s forwards;
}

@keyframes fadeoutimage {
  0% {
    filter: grayscale(0);
    opacity: 1;
  }

  100% {
    filter: grayscale(1);
    opacity: 0.3;
  }
}
